h1,
h2 {
    text-align: left;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 30px;
    line-height: 10px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 40px;
}
p {
    font-family: 'Candal', sans-serif;
    font-size: 20px;
}
ul {
    font-size: 20px;
}
